body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #434371;
}

nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    margin: 0;
    font-size: 24px;
    color: white;
}

nav .right a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    transition: color 0.3s ease;
}

nav .right a:hover {
    color: #7CB235;
}

#about {
    padding: 100px 0;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    background-color: #434371;
    padding: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-basis: 60%;
}

.text h2 {
    margin-top: 0;
    color: #B5F44A;
    font-size: 4em;
}

.text h3 {
    font-size: 2em;
    color: white;
}

.text p {
    color: white;
}

.photo {
    flex-basis: 40%;
}

.photo img {
    max-width: 100%;
    height: auto;
    margin-left: 20%;
}


button {
    background-color: #B5F44A;
    color: #434371;
    padding: 10px 20px;
    border: none;
    border-radius: 5px; /* Add this line */
    margin-right: 20px; /* Increase the spacing between buttons */
    transition: background-color 0.3s ease, color 0.3s ease; /* Add transition */
}

button:hover {
    background-color: #D6FF96; /* Lighter background color on hover */
    cursor: pointer;
}
