:root {
    --primary-color: #434371;
    --secondary-color: #B5F44A;
    --accent-color: #7CB235;
    --light-accent-color: #D6FF96;
    --background-color: #f9f9f9;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: var(--primary-color);
}

nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    margin: 0;
    font-size: 24px;
    color: white;
}

nav .right a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    transition: color 0.3s ease;
}

nav .right a:hover {
    color: var(--accent-color);
}

#about {
    padding: 100px 0;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    background-color: var(--primary-color);
    padding: 20px;
    flex-basis: 60%;
}

.text h2 {
    margin-top: 0;
    color: var(--secondary-color);
    font-size: 2em;
}

.text h3 {
    font-size: 1.5em;
    color: white;
}

.text p {
    color: white;
}

.photo {
    flex-basis: 40%;
}

.photo img {
    max-width: 100%;
    height: auto;
    margin-left: 20%;
    border-radius: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: var(--light-accent-color);
    cursor: pointer;
}

#projects .project-container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding: 70px;
    color: white;
}

#projects {
    background-color: var(--primary-color);
}

#projects .project {
    width: 35%;
    text-align: center;
    margin: 50px;
}

#projects .project img {
    width: 100%;
    height: auto;
}

#projects .project h3,
#projects .project p {
    margin: 10px;
}

#projects .button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #B5F44A;
    color: #000;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
}

#projects .button:hover {
    background-color: #a2e036;
}

#contact-skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact, .skills {
    padding: 20px;
}

.icons a {
    margin-right: 10px;
}

.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills ul li {
    margin-bottom: 10px;
}

#footer {
    background-color: var(--primary-color);
    color: white;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer .footer-inner {
    width: 80%;
    display: flex;
    align-items: center;
    border-top: #b5f44a solid 1px;
    justify-content: space-between;
    padding-top: 40px;
}

#arrow {
    font-size: 2em;
    cursor: pointer;
}

.footer-content {
    flex-grow: 1;
    text-align: center;
}

.social-icons {
    display: flex;
}

.social-icons a {
    color: white;
    margin-left: 10px;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
